*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* header********* */


.header_h1 {
    text-align: center;
    background-color: black;
    color: white;
    padding: 0.5rem 2.5%;
}

.header_nav {
    background-color:whitesmoke;
    border-bottom: black;
    font-weight: bold;
    box-shadow: 0 6px 5px -5px black;
}
.header_nav a{
    color: black;
}

.header_ul {
    padding: 0.5rem 2.5%;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
}
header {
    position: sticky;
    top: 0;
    z-index:1;
}

/* main******* */
.main{
    padding: 0.5rem 2.5%;
    background-color: white;
    height: 110vh;
}
.h2{
    color: green;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.main__container{
    display: block;
}
.menu__header,
.menu__item{
    border: 4px solid black;
    padding: 1rem;
    width: 100%;
}

.menu__item{
    /* margin:1.5rem;
    padding: 0.5rem ; */
    text-align: center;
}
.colour,
.menuc{
    color: rgb(26, 136, 26);
}
.lts{
    border-bottom:  1px dashed green;
}
/* footer**** */
.footer{
    position: sticky;
    bottom: 0;
    background-color: black;
    color:white;
    padding: 0.5rem 2.5%;
    text-align: center;
    width: 100%;
}
@media  (min-width:768px) {
    body{
        min-width: 0.5rem 2.5%;
        margin: 0 200px;
        border: 1px solid black;
        background-color: orangered;
    }
    .mains{
        font-size: 24px;
        
    }
    
}

.contact-p{
    margin: 1rem 0;
    
}
.contact-lable{
    display: block;
    font-weight: bold;
    
}
.contact-input{
    width: 100%;
    padding: 1rem;
    border-radius: 25px;
    margin: 5px 0;
}
.contact-area{
    padding: 0.5em;
    border-radius: 20px;
    border-width: 2px;
    width: 100%;
}
.contact__button {
    padding: 0.5em;
    border-radius: 15px;
    background-color: green;
    color: white;
    font-weight: bold;
}

